.dashboardMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .graphContainer{
        padding:10px;
        border: 1px solid #95BF47;
        margin:10px;
        border-radius:10px;
        canvas{
            height:80% !important;
        }
        .graphContainerLabel{
            text-align: center;
            font-weight: bold;
            margin-bottom: 15px;;
        }
    }
}